ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

li {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  transition: 0.3s;
}

li:hover {
  background: rgba(255,255,255,0.6);
}
